*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'work sans';
}

header .bg-cover {
  background-image: url("../images/banner/banner1.png");
  width: 1600px;
  height: 808px;
  background-size: cover;
}

header .bg-cover .left-section {
  padding: 216px 230px 0 845px;
}

.left-section h1 {
  font-size: 65px;
  font-weight: bold;
  text-align: right;
}

.left-section p {
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  margin-top: 24px;
}

.left-section .btn {
  width: 160px;
  height: 64px;
  background-color: #F15B22;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.left-section div {
  text-align: right;
  margin-top: 32px;
}